*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Outfil", Arial, Helvetica, sans-serif;
}

/*add a smoothly behavior when the page do a scroll to any section of the page*/
html{
    scroll-behavior: smooth;
}